.footer {
    background: #6278F7;
    color: #FFF;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul li {
    display: inline-block;
    margin-right: 32px;
}

.footer ul li:last-child {
    margin-right: 0;
}

@media screen and (max-width: 414px) {
    .footer {
        display:block;
        align-items: center;
        text-align: center;
    }

    .footer ul li {
        padding-bottom: 15px;

    }

    p {
        padding-top: 20px;
    }
    
}